apiVersion: v1
kind: Service
metadata:
  labels:
    service: backend_feed-api
  name: backend_feed-api
spec:
  ports:
  - name: "8080"
    port: 8080
    targetPort: 8080
  selector:
    service: backend_feed-api
